<!DOCTYPE html>
<html lang="en">
    <head>
        <title>orari navetta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="grad1"></div>
        <img class='im_eni' src="/static/Eni.jpg"/>
        <!--   <div class="row1">
           <img src="/static/Eni.jpg"  height="70" align="left"/>
           <img class="img_moto" src="/static/MOTO.jpg" width="60" align="right"/>
            <h1 class="gfg1"> M.O.T.O. </h1>
            <br><h3 class="gfg2">Move On Time On-demand</h3>
        </div>
        <div class="row2">
            <p>Keep in Mind the badge</p><br>
        </div>

        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Linea Arancio
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="https://navetta.herokuapp.com/arancio_andata"><b>C:</b>Bolgiano</a>
                    <a href="https://navetta.herokuapp.com/arancio_ritorno"><b>C:</b>Stazione F.F.S.S.</a>
                </div>
            </div>
        </div>

    <img class="img_mappa" src="/static/mappa_metro.png"/> -->
    </body>





</html>